body{
    background-color:aquamarine;
}
h1{
    text-align: center;
    text-shadow: purple1px 0 10px;
    background-color:#00ffff
    
}
div{
    text-decoration:underline;
    text-decoration-color: black;
    font-weight: bold;
}
.sendRequest{
    text-align:right;
}



img.shashin {
    
	width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}
