body{
    background-color: aquamarine;
}
h1{
    font-family: cursive;
    color:#ffcc01;
    background: linear-gradient(white, aqua);
    text-shadow:white 1px 0 10px;
}
h2{
    font-family:cursive;
    color:black;
    background: linear-gradient(white, #ffcc01);
}
.第1回{
    color:red;
    background: linear-gradient(white, orange);
    width:195px;
}
.第2回{
    color:red;
    background: linear-gradient(white, orange);
    width:310px;
}
.第3回{
    color:red;
    background: linear-gradient(white, orange);
    width:220px;
}
.第4回{
    color:red;
    background: linear-gradient(white, orange);
    width:230px;
}
.第5回{
    color:red;
    background: linear-gradient(white, orange);
    width:165px;
}
a:link {
    color: pink;
}
  
a:visited {
    color: green;
}
a:hover {
    background-color: aqua;
}

